 
prob-analysis/prob-analysis*/bin/
prob-analysis/prob-analysis*/build/
prob-analysis/prob-analysis*/logs/
prob-analysis/prob-analysis*/barman-*/
prob-analysis/prob-analysis*/robot-*/
prob-analysis/prob-analysis*/smartbell-*/
prob-analysis/prob-analysis*/waiter-*/

req-analysis/requirement-a*/bin/
req-analysis/requirement-a*/build/
req-analysis/requirement-a*/logs/
req-analysis/requirement-a*/barman-*/
req-analysis/requirement-a*/smartbell-*/
req-analysis/requirement-a*/waiter-*/
req-analysis/run/
req-analysis/tearoomClientDemo/bin/
req-analysis/tearoomClientDemo/client-*/
req-analysis/tearoomClientDemo/logs/

project/project-sprint*/barman-*/
project/project-sprint*/bin/
project/project-sprint*/build/
project/project-sprint*/logs/
project/project-sprint*/robot-*/
project/project-sprint*/smartbell-*/
project/project-sprint*/waiter-*/

project/robot-web-sprint*/bin/
project/robot-web-sprint*/build/
project/robot-web-sprint*/web-*/

*.bak
*.bck
